In [1]:
import pandas as pd

In [253]:
df1 = pd.read_csv("/Users/apple/Documents/Lambton College/Sem 2/AML 2404/Project/Python_Code/bitcoin.csv")

In [241]:
df2 = pd.read_excel("/Users/apple/Documents/Lambton College/Sem 2/AML 2404/Project/Untitled Folder/try.xlsx")

In [273]:
df1

           Date   Close      _dates
0    2015-01-13  225.86  2015-01-13
1    2015-01-12  267.80  2015-01-12
2    2015-01-11  265.66  2015-01-11
3    2015-01-10  274.80  2015-01-10
4    2015-01-09  290.41  2015-01-09
..          ...     ...         ...
621  2013-05-02  105.21  2013-05-02
622  2013-05-01  116.99  2013-05-01
623  2013-04-30  139.00  2013-04-30
624  2013-04-29  144.54  2013-04-29
625  2013-04-28  134.21  2013-04-28

[626 rows x 3 columns]

In [256]:
df1 = df1.loc[:, df1.columns.intersection(['Date','Close'])]

In [279]:
df2.head()

,Date,Label,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,_dates
0,2013-04-26,0,\tAmir Khan survives knockdown but fails to co...,\tHorse racing tips: Sunday 28 April,\tParent groups join nurseries to fight new ca...,\tSPL roundup: St Johnstone beat Caley to stay...,\tOthello ‚Äì review,\tShostakovich: Symphony No 7 'Leningrad' ‚Äì ...,\tIn the Fog ‚Äì review,\tJuan Diego Fl√≥rez and¬†friends; Ksenija Sid...,...,\tClubbers mix former legal high mephedrone wi...,\tGove's boarding academy borders on the ridic...,\tiTunes is 10 years old today. Was it the bes...,"\tIt's fine to boost the arts, but we should f...",\tEgyptians grab ancient land of the pharaohs ...,\tMobile networks see bright future for electr...,\tElection favourite's daughter takes to the s...,\tFor the record,\tHelp to Buy risks helping to create another ...,2013-04-26
1,2013-04-29,0,\tLimited abortion rights introduced in histor...,\tReal Madrid 2-0 Borussia Dortmund | Champion...,\tStar Trek Into Darkness ‚Äì review,\tMillwall 0-0 Crystal Palace | Championship m...,\tScottish independence quest hampered by poli...,\tBreast implants may harm breast cancer survi...,\tVince Cable presses for decision on RBS pros...,\tThe curious case of George Best's disappeari...,...,\tHugh Muir's diary: How the welfare secretary...,\tIn praise of ‚Ä¶ the flowing Brook | Editorial,\tEverton's manager David Moyes sings the prai...,\tWeatherwatch: What are the definite signs of...,\tGuant√°namo Bay: an indelible stain | Editorial,"\tSpending review: vital, bloody ‚Äì and point...",\tChris Froome rejects Bradley Wiggins's Team ...,\tLions squad presents soft underbelly in fly-...,\tLions squad 2013: More hopes dashed than eve...,2013-04-29
2,2013-04-30,1,\tBayern Munich's beating of Barcelona will se...,\tMidsomer Murders keeps Danes glued to TV,"\tBarcelona 'are not the best any more', admit...",\tHospitals 'are ignoring advice on caesarean ...,\tGeorge Osborne claims progress in tax haven ...,"\tSudoku 2,488 hard",\tLiverpool's new home kit based on European C...,\tSteve Bell on the death of three British sol...,...,\tWhen in London ... what Bayern and Dortmund ...,\tReferees to get more power as Fifa launches ...,\tFBI accuse trio of dumping backpack found in...,\tIn praise of ‚Ä¶ Rallings and Thrasher | Edi...,"\tDevelopment: aid, trade and ideas | Editorial",\tENRC founders face Dutch fraud lawsuit,\tLiverpool do not want Europa League place vi...,\tEverton captaincy should be the making of me...,\tNHS 111 helpline 'failing to meet targets',2013-04-30
3,2013-05-01,1,\tUS reconsiders its opposition to arming Syri...,\tForce-feeding at Guant√°namo Bay puts pressu...,"\tBBC's climate of fear let bullies thrive, re...",\tRafael Ben√≠tez asks for respect from Chelse...,\tBreast cancer rates increase among younger w...,\tRafa Ben√≠tez on a mission but Chelsea dream...,\tFloyd Mayweather finds calm amid the chaos o...,\tBody of Boston bombing suspect Tamerlan Tsar...,...,\tHugh Muir's diary: you can help Eton in thes...,\tIn praise of ‚Ä¶ fruitcake | Editorial,\tHousing debt: mortgaging the future | Editorial,\tFran√ßois Hollande: a year of living dangero...,\tDragon ‚Äì review,\tNoah and the Whale: Heart of Nowhere ‚Äì review,\tJohn Murry: The Graceless Age ‚Äì review,\tGareth Bale will stay at Tottenham next seas...,\t21 & Over ‚Äì review,2013-05-01
4,2013-05-02,0,\tAmos Oz by Nicola Jennings,\tFears patients may have suffered harm or die...,\tStuart Hall put home in wife's name 'to avoi...,\tTalking Horses | Chris Cook,\tSudoku killer 343,"\tSudoku 2,490 hard","\tI was exploited, claims Tony Fernandes after...",\tRepublican friends dominate opening day of N...,...,\tSteven Gerrard: 'Carra retiring makes you th...,\tUnthinkable? Publish and be damned | Editorial,\tMerseyside derby used to have a say in where...,\tAston Villa's survival is all that concerns ...,\tAndr√© Villas-Boas expects Manchester United...,\tLocal elections: shouting from the shires | ...,\tHollywood conservative unmasked as notorious...,\tOak trees at risk as caterpillar peril sprea...,\tAlan Pardew warns Newcastle United to be war...,2013-05-02

In [230]:
df1['Date'] = pd.to_datetime(df1['Date'], format='%m/%d/%y')

In [232]:
df1.to_csv('/Users/apple/Documents/Lambton College/Sem 2/AML 2404/Project/Python_Code/bitcoin.csv')

In [252]:
df1 = df1['Date','Close']

KeyError: ('Date', 'Close')

In [258]:
df1["_dates"] = pd.to_datetime(df1['Date']).dt.date

In [259]:
df1["_dates"]

0      2015-01-13
1      2015-01-12
2      2015-01-11
3      2015-01-10
4      2015-01-09
          ...
621    2013-05-02
622    2013-05-01
623    2013-04-30
624    2013-04-29
625    2013-04-28
Name: _dates, Length: 626, dtype: object

In [260]:
df2["_dates"] = pd.to_datetime(df2['Date']).dt.date

In [261]:
df2["_dates"]

0      2013-04-26
1      2013-04-29
2      2013-04-30
3      2013-05-01
4      2013-05-02
          ...
365    2014-10-01
366    2014-10-02
367    2014-10-03
368    2014-10-06
369    2014-10-07
Name: _dates, Length: 370, dtype: object

In [278]:
if df1["_dates"].reset_index(drop=True).equals(df2["_dates"].reset_index(drop=True)):
    df2["Close_price"] = df1['Close']

In [265]:
for i in df2["_dates"]:
    if df2["_dates"] == df1["_dates"]:
        pd.merge(df1,df2,left_on='_dates',right_on='_dates',how='right')

ValueError: Can only compare identically-labeled Series objects

In [281]:
df1["_dates"].reset_index(drop=True)==(df2["_dates"].reset_index(drop=True))

ValueError: Can only compare identically-labeled Series objects

In [320]:
df = df1["_dates"][-5:]
df = df.dropna()
df

621    2013-05-02
622    2013-05-01
623    2013-04-30
624    2013-04-29
625    2013-04-28
Name: _dates, dtype: object

In [321]:
df3 = df2["_dates"][:5]
df3 = df3.dropna()
df3

0    2013-04-26
1    2013-04-29
2    2013-04-30
3    2013-05-01
4    2013-05-02
Name: _dates, dtype: object

In [328]:
df['Close'] = ''

In [331]:
df['Close']

''

In [332]:
for i in df:
    for j in df3:
        if i == j:
            df['Close'] == df1["Close"][i]
        else:
            print("False")

False
False
False
False

KeyError: datetime.date(2013, 5, 2)

In [316]:
df1["d"]

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
          ...
621    2013-05-02
622    2013-05-01
623    2013-04-30
624    2013-04-29
625    2013-04-28
Name: d, Length: 626, dtype: object